.section_card_wrap, .section_banner, .footer_text {
  margin-left: auto;
  margin-right: auto; }

.section_banner {
  background: -webkit-linear-gradient(45deg, #679707, #2d5bd6);
  background: -moz-linear-gradient(45deg, #679707, #2d5bd6);
  background: linear-gradient(45deg, #679707, #2d5bd6); }

body {
  padding: 0;
  margin: 0;
  background: white; }

.header {
  background: url(../img/m-h-day.jpg) center no-repeat;
  color: black;
  height: 630px;
  border-bottom-right-radius: 100px;
  border-bottom-right-radius: 35%; }
  .header-wrap {
    width: 480px;
    margin-left: 100px; }
  .header_heading {
    opacity: 70%;
    font-size: 50px;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 0; }
    .header_heading::after {
      content: 'awesome';
      width: 210px;
      height: 37px;
      top: -45px;
      left: 1px;
      display: block;
      position: relative;
      line-height: 30px;
      background-color: #14a0c7; }
  .header_text {
    opacity: 70%;
    font-family: "Hind", sans-serif;
    margin-bottom: 60px; }
  .header_button {
    color: white;
    background: #699900;
    height: 40px;
    width: 120px;
    border-radius: 3px;
    border: #699900;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 150px; }
    .header_button:hover {
      cursor: pointer; }

.landing-logo {
  display: flex; }
  .landing-logo span {
    font-size: 10px;
    display: block; }
  .landing-logo p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: "Hind", sans-serif;
    line-height: 20px;
    opacity: 70%; }
  .landing-logo img {
    margin-top: 15px;
    margin-right: 10px;
    width: 50px;
    height: 50px; }

.login {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: bold; }

.section_text {
  font-size: 25px;
  font-family: "Hind", sans-serif;
  opacity: 90%;
  font-weight: bold;
  text-align: center; }
  .section_text::after {
    content: 'adventure';
    width: 117px;
    height: 37px;
    top: -45px;
    left: 775px;
    display: block;
    position: relative;
    line-height: 50px;
    background-color: #14a0c7; }
.section_card_wrap {
  width: 900px; }
.section_card {
  background: #21232e;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  color: white;
  height: 250px;
  padding: 10px;
  font-family: "Hind", sans-serif;
  font-size: 12px; }
.section_card_right_container {
  width: 350px;
  margin-left: 90px;
  margin-top: 20px;
  line-height: 20px; }
.section_card_text {
  opacity: 70%;
  margin-bottom: 20px;
  font-family: "Hind", sans-serif; }
.section_card_heading {
  font-size: 20px;
  text-align: center; }
.section_link {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  opacity: 70%;
  display: block; }
.section_banner {
  position: relative;
  top: 50px;
  width: 1000px;
  height: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.section_banner_text_wrap {
  margin-left: 80px; }
.section_banner_heading {
  height: 20px;
  color: black;
  margin-top: 10px;
  opacity: 70%;
  font-family: "Hind", sans-serif;
  font-weight: bold;
  font-size: 20px; }
  .section_banner_heading::after {
    content: 'start';
    width: 40px;
    height: 37px;
    top: -41px;
    left: 85px;
    display: block;
    position: relative;
    line-height: 50px;
    background-color: #14a0c7; }
.section_banner_text {
  color: white;
  font-family: "Hind", sans-serif;
  font-size: 12px;
  opacity: 70%; }
.section_banner_button {
  color: white;
  background: #699900;
  height: 40px;
  width: 120px;
  border-radius: 3px;
  border: #699900;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-right: 80px; }
  .section_banner_button:hover {
    cursor: pointer; }

.footer {
  background: #21232e;
  color: white; }
  .footer-wrap {
    padding: 100px 80px 50px 80px;
    display: flex;
    opacity: 70%; }
  .footer_text {
    width: 260px;
    font-family: "Hind", sans-serif;
    font-size: 12px; }
  .footer-cr {
    font-family: "Hind", sans-serif;
    font-size: 16px;
    margin-top: 20px; }
